<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netsense.cloudfilemanager.mapper.FileUploadHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.netsense.cloudfilemanager.model.FileUploadHistory" >
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    token,filename,filepath,md5,length,createtime,updatetime,userid,usercode,username,flag
  </sql>

  <insert id="insert" parameterType="com.netsense.cloudfilemanager.model.FileUploadHistory" >
    insert into file_upload_history (token, filename, filepath, 
      md5, length, createtime, 
      updatetime, userid, usercode, 
      username, flag)
    values (#{token,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{md5,jdbcType=VARCHAR}, #{length,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR}, #{usercode,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.netsense.cloudfilemanager.model.FileUploadHistory" >
    insert into file_upload_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        token,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        #{length,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from file_upload_history
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file_upload_history
    where token = #{token,jdbcType=VARCHAR}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.netsense.cloudfilemanager.model.FileUploadHistory" >
    update file_upload_history
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=TIMESTAMP},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where token = #{token,jdbcType=VARCHAR}
  </update>

  <select id="search" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from file_upload_history
    <where>
      flag != 1
    <if test="usercode != null" >
     and usercode = #{usercode,jdbcType=VARCHAR}
    </if>
    <if test="starttime != null" >
     and createtime &gt; #{starttime,jdbcType=TIMESTAMP}
    </if>
    <if test="endtime != null" >
     and createtime &lt; #{endtime,jdbcType=TIMESTAMP}
    </if>
    </where>
  </select>
  <select id="getlastfewday" resultType="com.netsense.cloudfilemanager.model.FileUploadHistory">
    select
    <include refid="Base_Column_List"/>
    from file_upload_history
    <where>
      <if test="starttime != null" >
        and createtime &lt; #{starttime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

</mapper>